<?xml version="1.0" encoding="utf-8"?>
<odoo>

        <menuitem
            id="employee_benefit_configure"
            parent="hr_payroll_community.menu_hr_payroll_community_configuration"
            name="Employee Benefits"
            groups="hr_payroll_community.group_hr_payroll_community_manager"
            sequence="50"
        />

</odoo>
